* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --text-color: #262626;
}

.color-important {
    color: var(--text-color) !important;
    border-color: var(--text-color) !important;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;  
}


/* Header */

#header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
}

.header-above {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    line-height: 0;
}

.logo-img {
    width: 10%;
}

.logo-img img {
    width: 100%;
}

.logo-name {
    position: absolute;
    top: 48px;
    left: 130px;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px #c0c0c0;
}

.header-feats {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.header-feats p {
    color: #fff;
}

.languages-feat {
    display: flex;
}

.languages-feat button {
    font-size: 10px;
    height: 16px;
    font-weight: 700;
    border: none;
    background-color: #262626;
    color: #fff;
    border-radius: 3px;
}

.english-lan {
    margin-right: 4px;
}

.vietnam-lan {}

.header-below {}

.search-feat {
    position: relative;
}

.search-feat input {
    padding: 16px 42px 16px 16px;
    font-size: 14px;
    border: none;
    background-color: #262626;
    color: white;
    border-radius: 5px;
}

.search-feat i {
    position: absolute;
    top: 16px;
    right: 14px;
    color: #6f7274;
}

.border-left {
    position: absolute;
    border-left: 1px solid #6f7274;
    top: 9px;
    z-index: 5;
    height: 32px;
    right: 43px;
}

.header-below {
    display: flex;
    color: #fff;
    width: 78%;
    font-size: 20px;
    align-items: center;
    padding: 20px 0;
}

.our-models,
.buy-online,
.shopping-guide,
.service,
.merc-world {
    padding-right: 30px;
}

.our-models {}

.our-models i {
    padding-right: 10px;
}

.buy-online {}

.shopping-guide {}

.service {}

.merc-world {}

.border-bottom {
    width: 100%;
    border-top: 1px solid #fff;
    line-height: 0;
}

.header-sub {
    color: #fff;
    display: flex;
    width: 80%;
    justify-content: center;
    font-size: 20px;
    padding: 10px 0;
}

.header-sub a {
    padding: 0 4px;
    color: #fff;
}


/* Container */

#container {}

.main-slider {
    position: relative;
}

.main-slider img {
    width: 100%;
}

.slider-title {
    top: 0;
    position: absolute;
    width: 100%;
}

.slider-content {
    width: 32%;
}

.info-nav {}

.more-details {}

.find-avail {}

.sub-content {}


/* Footer */

#our_recommendations{
    height: 745px;
    width: 100%;
}

#our_vehicles{
    height: 2300px;
    width: 100%;
    
}

.title_ov{
    height: 110px;
    width: 100%;
    font-size: larger;
    margin-left: 105px;
}

.menu_ov{
    width: 100%;
    height: 60px;
    margin-left: 85px;
    display: flex;
}
.allmode{
    width: 130px;
    background-color: black;
    color: white;
    font-size: larger;
}
.Mercedes-eq{
    width: 185px;
    font-size: larger;
    background-color: white;
    border-right: none;
}
.amg{
    width: 140px;
    font-size: larger;
    background-color: white;
    border-right: none;
}
.maybach{
    width: 145px;
    font-size: larger;
    background-color: white;
}
#conlai_ov{
    width: 1690px;
    display: flex;
    margin-left: 105px;
    margin-top: 30px;
}
.left_conlai_ov{
    width: 300px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 315px;
}
.fueltype{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.btelectronic{
    height: 30px;
    width: 30px;
}
.btandelec{
    align-items: center;
    display: flex;
}
.bodytype{
    height: 165px;
    width: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.loaixe{
    width: 115px;
    height: 30px;
    display: flex;
    align-items: center;
}
.seeall{
    font-size: larger;
    width: 100px;
    border-top: 1px solid black;
    padding-top: 10px;
}
.right_conlai_ov{
    border-left: 1px solid black;
    width: 1110px;
    height: 100%;
}
.dong_sedans{
    height: 550px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.tendongxe{
    border-bottom: 1px solid black;
}
.chuadongxe{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 230px;
}
.ten_gia_hinh{
    height: 250px;
    width: 255px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}
.hinhxe{
    height: 125px;
    width: 240px;
}
.ten_gia{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gia{
    color: gray;
}
.dong_suvs{
    height: 850px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.dong_coupes{
    height: 300px;
    flex-direction: column;
    display: flex;
    margin-top: 100px;
}
.chuadongxecp{
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: 230px;
    margin-top: 45px;
}
#bangthongtin{
    width: 1325px;
    height: 225px;
    margin-top: 170px;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.btt{
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: space-between;
}
.buttontt{
    width: 410px;
    height: 105px;
    display: flex;
    background-color: white;
}
.hinhtt{
    margin-top: 15px;
}
.chitiettt{
    font-size: 18px;
    margin-top: 30px;
    width: 355px;
}
.chitietindam{
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
#footer {
    width: 1517px;
    height: 610px;
    background-color: black;
    margin-top: 70px;
}
.above_ft{
    width: 100%;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: x -large;
}
.middle_ft{
    height: 215px;
    width: 1050px;
    display: flex;
    justify-content: space-between;
    margin-left: 105px;
    color: white;
}
.menu_ft{
    width: 170px;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}
.below_ft{
    width: 1315px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    margin-left: 105px;
    margin-top: 70px;
}
.left_blft{
    width: 430px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}
.right_blft{
    width: 220px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}